@media (max-width: 600px){
	.products{
		display: inherit;
		height: auto;
	}
	.product{
		margin-top: auto;
	}
	.main_section{
		padding: 4%;
	}
	.beneficios{
		margin-top: 100%;
		display: inherit;
	}
	.mentions{
		display: inherit;
	}
}
@media (max-width: 800px){
	.main_section{
		padding: 9%;
	}

}